@model IEnumerable<TournamentTracker.Models.GameModels.Games>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrentGameTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentGameTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Table)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GameID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GameID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GameID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
