@model TournamentTracker.Models.GameModels.GamesRules

@{
    ViewData["Title"] = "AddGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="AddGame">
    <div class="form-horizontal">
        <h4>Add Game</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                @Html.ActionLink("Add Win Condition", "LoadAddRule", "Tournament", new { EventID = ViewBag.EventID, @class = "AddRuleModal" })
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="EventID" type="hidden" asp-items="ViewBag.EventID" />
        <input asp-for="Round" type="hidden" class="form-control" value="@ViewBag.Round" />

        <div class="form-group">
            <label asp-for="GameLength" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GameLength" class="form-control" value="00:30:00" />
                <span asp-validation-for="GameLength" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrimaryMission1" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PrimaryMission1" class="form-control" asp-items="@ViewBag.GameRulesDropDown"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrimaryMissionWinScore" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrimaryMissionWinScore" class="form-control" value="10" />
                <span asp-validation-for="PrimaryMissionWinScore" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrimaryMissionDrawScore" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrimaryMissionDrawScore" class="form-control" value="5" />
                <span asp-validation-for="PrimaryMissionDrawScore" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrimaryMission2" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PrimaryMission2" class="form-control" asp-items="@ViewBag.GameRulesDropDown"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SecondaryMission1" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SecondaryMission1" class="form-control" asp-items="@ViewBag.GameRulesDropDown"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SecondaryMission2" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SecondaryMission2" class="form-control" asp-items="@ViewBag.GameRulesDropDown"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SecondaryMission3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SecondaryMission3" class="form-control" />
                <span asp-validation-for="SecondaryMission3" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SecondaryMissionWinScore" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SecondaryMissionWinScore" class="form-control" value="5"/>
                <span asp-validation-for="SecondaryMissionWinScore" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SecondaryMissionDrawScore" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SecondaryMissionDrawScore" class="form-control" value="2"/>
                <span asp-validation-for="SecondaryMissionDrawScore" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ExtraRules" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea rows="8" asp-for="ExtraRules" class="form-control" ></textarea>
                <span asp-validation-for="ExtraRules" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @*<a asp-action="EditGame" asp-route-id="@ViewBag.EventID">Edit Game</a>*@
    <a asp-action="Index">Back to Events</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
