@model TournamentTracker.Models.TournamentModels.EventViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<script>
    var EventTableData = @Html.Raw(@Json.Serialize(@Model.evtTable));
    var UserID = @Html.Raw(@Json.Serialize(@UserManager.GetUserId(User)));
</script>

@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EventsView</h2>

<p>
    <a asp-action="CreateEvent">Create New</a>
</p>
<table class="table" id="EventsTable">
    <thead>
        <tr>
            <th>
                Event Name:
            </th>
            <th>
                Location Name:
            </th>
            <th>
                Location Area:
            </th>
            <th>
                Event Start Date:
            </th>
            <th>
                Event End Date:
            </th>
            <th>
                Description:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>